Source: icu
Section: utils
Priority: optional
Maintainer: Thomas JOUANNOT (Mazerty) <mazerty@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7

Package: icu
Architecture: all
Depends: ${misc:Depends}, python3, python3-yaml
Description: Minimalist self-healing
